@model Papeleria.MVC.Models.MovimientosModel

@{
    ViewData["Title"] = "Create";

}

<h1>Create</h1>
<p>
    @ViewBag.Error
</p>

<h4>MovimientosModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="articuloID">Articulo</label>
                <select asp-for="@Model.articuloID" asp-items="@(new SelectList(ViewBag.articulos, "id", "nombreArticulo"))" class="form-control">
                    <option disabled selected>Seleccionar articulo...</option>
                </select>
                <span asp-validation-for="articuloID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipoMovimientoID">Tipo de movimiento</label>
                <select asp-for="@Model.tipoMovimientoID" asp-items="@(new SelectList(ViewBag.tiposMovimientos, "id", "nombre"))" class="form-control">
                    <option disabled selected>Seleccionar tipo de movimiento...</option>
                </select>
                <span asp-validation-for="articuloID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ctdUnidadesXMovimiento" class="control-label">Cantidad de unidades</label>
                <input asp-for="ctdUnidadesXMovimiento" class="form-control" />
                <span asp-validation-for="ctdUnidadesXMovimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
