@model Papeleria.MVC.Models.MovimientosModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MovimientosModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecHorMovRealizado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecHorMovRealizado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.articuloID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.articuloID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigoProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigoProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreArticulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreArticulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precioVP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precioVP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoMovimientoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoMovimientoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoMovimientoNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoMovimientoNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuarioID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuarioID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ctdUnidadesXMovimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ctdUnidadesXMovimiento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
