@model IEnumerable<Papeleria.MVC.Models.MovimientosModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecHorMovRealizado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticuloID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigoProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreArticulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMovimientoID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMovimientoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CtdUnidadesXMovimiento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecHorMovRealizado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticuloID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigoProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreArticulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMovimientoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMovimientoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CtdUnidadesXMovimiento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
